[user]
	name = watysay
	email = sebastien.manic@gmail.com
[color]
	ui = true
[merge]
	tool = vimdiff3
[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

