"*":
  core:
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Ubuntu mono"
    showIndentGuide: true
  "exception-reporting":
    userId: "c1143b80-85be-b6ff-c35d-d6887b91c881"
  script:
    cwdBehavior: "Project directory of the script"
  welcome:
    showOnStartup: false
